<div id="keyboardAttach" #keyboardAttach>

  <div class="inputDiv">
  
    <ion-input [(ngModel)]="title" autofocus="true" id="input" #input color="primary" placeholder="Add reminder.." style="float: left;">
      
      
    </ion-input >
    <ion-icon (click)="open()" class="calendarIcon" name="calendar" slot="end">
  
  </ion-icon>
  </div>
  <ion-list>
    <ion-item lines="none" style="border-bottom: 1px solid #cbcbcb;">
      <ion-icon name="journal-outline" ></ion-icon>
      <ion-label class="listLabel">
        First NoteBook
      </ion-label>
    </ion-item>
  
  </ion-list>
  <ion-button class="buttonStyle" fill="clear" (click)="CreateNote(title)">Set</ion-button>
  <ion-button class="buttonStyle"  fill="clear">Cancel</ion-button>
</div>


