<ion-header mode="ios">
  <ion-toolbar>
<ion-icon slot="start" name="checkmark"></ion-icon>

<ion-icon slot="end" style="margin-left: 25px;" name="arrow-undo"></ion-icon>

<ion-icon slot="end" name="arrow-redo"></ion-icon>
<ion-label slot="end" class="a" color="primary">a</ion-label>
<ion-icon name="attach" slot="end"></ion-icon>
<ion-icon name="camera" slot="end"></ion-icon>
<ion-icon name="ellipsis-vertical" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item lines="none" style="border-bottom: 1px solid #cbcbcb;">
  <ion-icon name="journal-outline"></ion-icon>
  <ion-label class="listLabel">
    First NoteBook
  </ion-label>
  <ion-icon slot="end" name="alarm-outline"></ion-icon>
</ion-item>
</ion-content>
