<ion-content>

    <ion-item lines="none" (click)="openSelected('reminder',$event)">
      <ion-icon name="alarm" slot="start">
      </ion-icon>
      <ion-label>
        Add Reminder
      </ion-label>
    </ion-item>


    <ion-item lines="none">
      <ion-icon name="mic" slot="start">
      </ion-icon>
      <ion-label>
       Record Audio
      </ion-label>
    </ion-item>

    <ion-item lines="none" (click)="openSelected('attachment',$event)">
      <ion-icon name="attach" slot="start">
      </ion-icon>
      <ion-label>
        Add Attachment
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="pencil" slot="start">
      </ion-icon>
      <ion-label>
        Start  sketching
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="camera" slot="start">
      </ion-icon>
      <ion-label>
        Take Photo
      </ion-label>
    </ion-item>

    <ion-item lines="none" (click)="openSelected('blankNote',$event)">
      <ion-icon name="reader" slot="start">
      </ion-icon>
      <ion-label>
        Blank Note
      </ion-label>
    </ion-item>
  
</ion-content>